.header {
  min-height: 75px;
  background-color: #000;
}

.header__inner {
  display: flex;
  align-items: center;

}
@media (max-width: 768px){
  .header{
    min-height: 56px;
  }
}
@media (max-width: 600px) {
  .header__inner {
    padding: 13px 0;
  }
}