
.contact-item {
 
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #ffa45b, #ff7657);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    max-width: 300px;
}
.contact-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
    background: linear-gradient(135deg, #ff8c3f, #ff6048);
  }

.contact-item__icon {
    /* margin-bottom: 20px;
    width: 32px;
    height: 32px; */
    width: 40px;
    height: 40px;
    margin-right: 12px;

    flex-shrink: 0;

 
}

.contact-item__icon img {
    width: 100%;
    height: auto;
}

.contact-item__descr {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
@media (max-width: 768px) {
    /* .contact-item {
      width: 100%; 
      margin-bottom: 20px;
    }
  
    .contact__row {
      gap: 10px;
    } */

    .contact__row {
        flex-direction: column;
        align-items: center;
      }
    
      .contact-item {
        max-width: 100%;
      }
  }
@media (max-width: 1000px) {}

@media (max-width: 600px) {}