/*ОБНУЛЕНИЕ*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{
    text-decoration: none;
    color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}
/* ------------------------------- */

body{
    background: #E5E5E5;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
}
.wrapper {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    max-width: 75%;
}
.calc {
    /* border: 1px solid grey; */
    
    /* flex: 1 0 100%; */
    position: relative;
    z-index: 1;
    height: 100%;
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    
    background: rgb(254,254,254);
    background: linear-gradient(266deg, rgba(254,254,254,1) 0%, rgba(249,249,249,1) 13%, rgba(243,243,243,1) 33%, rgba(229,229,229,1) 100%);
    border-radius: 40px;
}
.calc__header {
    /* border: 1px solid yellow; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex: 1 0 30%;
    width: 100%;
    padding: 5%;
    min-height: 30vh;
}
.toggle {
    width: 122px;
    height: 44px;
    border: 1px solid yellow;
    margin: auto;
}
.calc__toggle {
}
.calc__history {
    width: 30px;
    height: 30px;
}
.calc__display {
    
    font-size: 22px;
    width: 90%;
    
}
.calc__term {
    text-align: right;
    color: #3737377e;
    font-weight: 500;
    
    height: 35px;
    line-height: 35px;
}

.calc__result-window {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc__equals {
    font-size: 26px;
    font-weight: 600;
    /* min-width: 70px; */
    flex: 0 0 50px;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
  
}
.calc__result {
    display: block;
    text-align: right;
    background: transparent;
    height: 50px;
    font-weight: 700;
    font-size: 40px;
    min-width: 20px;
    flex: 1 1 auto;
    
}
.calc__keypad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 70%;
    gap: 10px;
    padding: 5%;
    /* background: linear-gradient(45deg, rgba(158,232,255,1) 2%, rgba(90,206,255,1) 28%, rgba(121,175,255,1) 65%, rgba(45,95,222,1) 100%);; */
    background: linear-gradient(152deg, rgba(174,219,252,1) 0%, rgba(145,198,254,1) 80%);
    border-radius: 0 0 40px 40px;
}

.calc__key {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    min-width: 70px;
    min-height: 70px;
    width: 21%;
    height: 21%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 30%);
    /* background-color: #70D4FF9f; */
    box-shadow: 0 0 4px rgb(0, 0, 0, 25%);
    transition: all 0.3s ease;

}

.calc__key_color-orange{
    background-color: #ffd56969;
}
.calc__key_color-red{
    background-color: #FF866969;
}

.calc__key:hover{
    box-shadow: 0 3px 15px rgb(0, 0, 0, 5%);
}
.calc__key:active{
    background-color: #70D4FF9f;
}
.calc__key_color-orange:active{
    background-color: #ffd5699f;
}
.calc__key_color-red:active{
    background-color: #FF86699f;
}

/* Блок инстурементов (история) */
.sub-tools {
    flex: 1 0 40%;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;


    /* временно для наглядности */
    border: 1px solid grey;
    border-left: none;
    border-radius: 0px 40px 40px 0;
    position: relative;
    left: -35px;
    padding-left: 60px;
    padding-top: 50px;
    padding-right: 10px;
    
    z-index: 0;
}
/* .history {
    

} */
#history,
#memory{
    position: absolute;
    visibility: hidden;
}
.sub-tools__nav {
    flex: 0 0 45px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.sub-tools__label {
    transition: all .3s ease;
    cursor: pointer;
    margin-bottom: 5px;
}
.sub-tools__label:hover {
    color: #0000005b;
    box-shadow: 0 10px 0 -8px seagreen;
}
.sub-tools__label_active{
    box-shadow: 0 2px 0 rgb(123, 46, 139);
    background-color: red;
}
.sub-tools__tabs {
    flex: 1 1 auto;
    
}
.sub-tools__history {
}
.history {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.history__list {
    width: 100%;
    text-align: right;
}
.history__item {
}
.item {
    padding: 10px 20px;
    margin-bottom: 15px;
    transition: all 0.2s ease;
}
.item:hover{
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}
.item__express {
    margin-bottom: 5px;
    color: #373737b4;
}
.item__result {
    font-weight: 600;
}

.history__clear {
    /* background: url("../img/delete.png") no-repeat; */
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}
.history__clear:hover {
    cursor: pointer;
    /* Добавить анимацию тряски */

}

.memory{
    display: none;
}

._show{
    display: flex;
}