.social-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.social__list {
  justify-content: flex-end;
}

.social-list__item {
  min-width: 26px;
  min-height: 26px;
}

.social__list.social-list__item {
  max-width: 64px;
  max-height: 64px;
}

.social-list__link img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .social-list {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .social-list {
    gap: 17px;
  }
}