/* Контейнер блока */
.skills {
    padding: 80px 0;
    text-align: center;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__title {
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .skills {
        padding: 50px 0;
    }
}
@media (max-width: 600px) {
    .skills{
        padding: 30px 0;
    }
}